
:root {
  // spacing
  --s-sm: 0.8rem;
  --s-df: 1.6rem;
  --s-md: 3.2rem;
  --s-lg: 6.4rem;

  // text styles
  --fs-df: 1.5rem;
  --fs-lg: 2.2rem;
  --ff-p: "Alata", sans-serif;
  --ff-a: "Josefin Sans", sans-serif;
  --fw-d: 400;
  --fw-l: 300;

  // color
  --gray-400: hsl(0, 0%, 55%);
  --gray-500: hsl(0, 0%, 41%);
}